.list {
    display: flex;
    align-items: center;
    gap: 0 30px;
    list-style: none;
}

.text {
    font-size: 18px;
}

.btn {
    padding: 8px 12px;
    border: 1.5px solid #000;
    cursor: pointer;
    background: none;
    font-size: 18px;
}